
/* @media screen and (min-width:1440px) {} */
/* @media screen and (min-width:1280px) and ( max-width:1439px) {} */
/* @media screen and (min-width:768px) and ( max-width:1279px) {} */
/* @media screen and (min-width:1026px) and ( max-width:1279px) {} */
/* @media screen and (min-width:768px) and ( max-width:1025px) {} */
/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ベース設定 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
@font-face {
  font-family: 'NotoSansJP';
	src: url('../font/lp/NotoSansJP-Black.otf') format('opentype');
	font-weight: 900;
}
@font-face {
  font-family: 'NotoSansJP';
	src: url('../font/lp/NotoSansJP-Bold.otf') format('opentype');
	font-weight: bold;
}
@font-face {
  font-family: 'NotoSansJP';
  src: url('../font/lp/NotoSansJP-Medium.otf') format('opentype');
	font-weight: 500;
}
@font-face {
  font-family: 'NotoSansJP';
  src: url('../font/lp/NotoSansJP-Regular.otf') format('opentype');
	font-weight: normal;
}
@font-face {
  font-family: 'NotoSansJP';
	src: url('../font/lp/NotoSansJP-Light.otf') format('opentype');
	font-weight: 300;
}
@font-face {
  font-family: 'NotoSansJP';
	src: url('../font/lp/NotoSansJP-Thin.otf') format('opentype');
	font-weight: 100;
}
@font-face {
  font-family: 'bebas';
	src: url('../font/lp/Bebas-Regular.otf') format('opentype');
}
html{
	color: #000;
	font-size: 16px;
	font-weight: bold;
	font-family: "NotoSansJP", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
	line-height: 1.8;
	text-align: center;
}
a{
	color: #000;
	display: block;
}
#wrapper{
	width: 100%;
	height: auto;
}
section,
.section{
	width: 100%;
	height: auto;
	position: relative;
}
.container{
	width: 90%;
	margin: 0 auto;
}
@media screen and (min-width:1640px) {
	.container{max-width: 1480px;}
}
@media screen and (min-width:1280px) and ( max-width:1539px) {
	html{font-size: 15px;}
	.container{max-width: 1280px;}
}
@media screen and (min-width:768px) and ( max-width:1279px) {
	html{font-size: 14px;}
	.container{max-width: none;}
}
.is_sp{display: none;}
.is_tab{display: none;}
@media screen and (min-width:751px) and ( max-width:1025px) {
	.is_hidden_tab{display: none;}
	.is_tab{display: block;}
} 
:root{
	--pink_d: #ee3970;
	--pink_o: rgba(246,68,127,0.9);
	--pink: #f981a8;
	--pink_l: #ffb7cf;
}
.objectCover {
	width:100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%; 
	font-family: 'object-fit: cover;object-position: 50% 50%;'
}
.objectContain {
	width:100%;
	height: 100%;
	object-fit: contain;
	object-position: 50% 50%; 
	font-family: 'object-fit: contain;object-position: 50% 50%;'
}
.point_reader{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ベース設定 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.mincho{font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;}
.bebas{font-family: 'bebas';}
.sub_ttl{
	font-size: 2rem;
	margin-bottom: 4rem;
	font-style: italic;
}
.sub_ttl span{
	color: var(--pink_d);
	font-size: 2.5rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ナビ ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
header{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	background: rgba(255, 255, 255, 0.7);
	z-index: 55500;
}
.header_in{
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 95%;
	max-width: 1680px;
	margin-left: auto;
}
.header_in h1{
	font-weight: normal;
	font-size: 1rem;
	color: var(--pink_d);
	padding: 0 1rem;
}
.header_in .head_cta{
	display: flex;
	height: 100%;
}
.header_in .head_cta_in{
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	width:100%;
	padding:0 1rem;
}
.header_in .head_cta_in span{
	display: block;
	white-space: nowrap;
}
.header_in .head_cta_in .ico{
	font-size: 1.5rem;
	margin-right: 1rem;
}
.header_in .head_cta_in .sub_txt{
	font-size: 0.8rem;
}
.header_in .tel{
	background: linear-gradient(to right, #a870e8 0%, #f26cc1 100%);
}
.header_in .line{
	background: linear-gradient(to right, #05cad1 0%, #44e724 100%);
}
.header_in .form{
	background: linear-gradient(to right, #a870e8 0%, #f26cc1 100%);
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ナビ ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ フッター ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
 
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ フッター ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 下層共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */

/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 下層共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ top01 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top01_in{
	background: url(../../img/lp/top01_03.png) center right /auto 100% no-repeat;
	position: relative;
	z-index: -1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.top01_in::before,
.top01_in::after{
	position: absolute;
	top:0;
	left: 0;
	width: 50%;
	height: 100%;
	content: '';
	z-index: -1;
}
.top01_in::before{ 
	background: var(--pink_l);
	transform: skew(-15deg);
	transform-origin: top left;
}
.top01_in::after{
	background: var(--pink_o);
	transform: skew(15deg);
	transform-origin: bottom right;
}
.top01_in .img{
	margin-right: 5%;
}
.top01 .box{
	font-style: italic;
	font-size: 2rem;
	line-height: 1.2;
}
.top01 .txt02{
	margin:3rem 0;
}
.top01 .txt01 .inner01 .main_txt,
.top01 .txt01 .inner02,
.top01 .txt02 .inner02 .main_txt,
.top01 .txt03 .inner02 .main_txt,
.top01 .box sup{
	color: var(--pink_d);
}
.top01 .txt01 .inner01 .main_txt{
	font-size: 7rem;
}
.top01 .txt02 .inner02,
.top01 .txt03 .inner02{
	letter-spacing: 5px;
}
.top01 .txt02 .inner02 .main_txt,
.top01 .txt03 .inner02 .main_txt{
	font-size: 10rem;
	line-height: 0.8;
}
.top01 .box sup{
	font-size: 1rem;
}
.top01 .att{
	padding:1rem 0;
}
.top01 .att span{
	color: var(--pink_d);
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ top01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ top02 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top02{
	background: url(../../img/lp/top02_09.png) center / cover no-repeat;
	padding:6rem 0 9rem;
}
.top02 .top02_in{
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-style: italic;
	font-size: 2rem;
	line-height: 0.9;
}
.top02 .box{
	width: 23%;
	position: relative;
	max-width: 18rem;
}
.top02 .box .img{
	margin:0 0 2rem;
}
.top02 .box .inner00{
	position: absolute;
	top:-8rem;
	left: -3rem;
	text-shadow: 3px 3px 3px #fff;
	font-size: 3rem;
}
.top02 .box .inner00 .main_txt{
	color: var(--pink_d);
	font-size: 10rem;
}
.top02 .box .inner01{
	font-size: 1.5rem;
}
.top02 .box .inner02{
		letter-spacing: 5px;
}
.top02 .box .inner02 sup{
	font-size: 0.8rem;
	color: var(--pink_d);
	font-weight: normal;
}
.top02 .box .inner02 .main_txt{
	color: var(--pink_d);
	font-size: 9rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ top02 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ top03 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
 .top03{
	padding:6rem 0;
}
.top03 .att{
	position: absolute;
	background: var(--pink_d);
	bottom:100%;
	right:50%;
	width: 50%;
	padding: 0.5rem 3rem;
	border-radius: 0 2rem 0 0;
}
.top03 .att p{
	color: #fff;
	font-size: 1.5rem;
}
.top03 .ttl{
	position: relative;
}
.top03 .ttl h2::before,
.top03 .ttl h2::after{
	position: absolute;
	content: '';
	background: url(../../img/lp/top03_06.png) center center / contain no-repeat;
	width:1.2rem;
	height: 1.2rem;
}
.top03 .ttl h2::before{
	top:20%;
	left:50%;
	transform: translate(-50%,-50%) translateX(10rem);
}
.top03 .ttl h2::after{
	top:70%;
	left:50%;
	transform: translate(-50%,-50%)translateX(13.5rem);
}
.top03 .ttl img{
	position: absolute;
	width: 8rem;
	bottom:90%;
	left:50%;
	transform: translate(-50%,0)translateX(13.5rem);
}
.top03_in{
	display: flex;
	justify-content: space-between;
}
.top03_in .item_l{
	width: 60%;
	position: relative;
}
.top03_in .box{
	width: 38%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: space-between;
}
.top03_in .box .item{
	width: 48%;
	position: relative;
}
.top03_in .item_l::before,
.top03_in .box .item::before{
	position: absolute;
	top:0;
	left: 0;
	width:0;
	height: 0;
	border:0.75rem solid transparent;
	border-top: 0.75rem solid var(--pink_d);
	border-left: 0.75rem solid var(--pink_d);
	content: '';
}
.top03_in p{
	position: absolute;
	bottom: 1rem;
	left:0%;
	color: #fff;
	background: var(--pink_d);
	padding: 0.5rem 1rem;
	transform: translate(0,50%) rotate(-5deg);
	white-space: nowrap;
	z-index: 10;
}
.top03_in .item_l p{
	font-size: 1.2rem;
	padding: 0.5rem 2rem;
}
.top03_in p.light{
	background: var(--pink);
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ top03 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ top04 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top04{ 
	background: url(../../img/lp/top02_09.png) center / cover no-repeat;
	padding: 6rem 0;
}
.top04 h2{
	background: url(../../img/lp/top04_01.png) center center / 30rem auto no-repeat;
	font-size: 2rem;
	line-height: 1.25;
	padding: 0rem 0 1rem;
}
.top04 h2 span{
		transform: rotate(-10deg);
		display: inline-block;
		/* transform-origin: 20% bottom; */
		padding: 0 2rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ top04 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 下層共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
 
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 下層共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 下層共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
 
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 下層共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 下層共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
 
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 下層共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 下層共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
 
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 下層共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */





