
/* @media screen and (min-width:1440px) {} */
/* @media screen and (min-width:1280px) and ( max-width:1439px) {} */
/* @media screen and (min-width:768px) and ( max-width:1279px) {} */
/* @media screen and (min-width:1026px) and ( max-width:1279px) {} */
/* @media screen and (min-width:768px) and ( max-width:1025px) {} */
/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ベース設定 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
@font-face {
  font-family: 'NotoSansJP';
	src: url('../font/lp/NotoSansJP-Black.otf') format('opentype');
	font-weight: 900;
}
@font-face {
  font-family: 'NotoSansJP';
	src: url('../font/lp/NotoSansJP-Bold.otf') format('opentype');
	font-weight: bold;
}
@font-face {
  font-family: 'NotoSansJP';
  src: url('../font/lp/NotoSansJP-Medium.otf') format('opentype');
	font-weight: 500;
}
@font-face {
  font-family: 'NotoSansJP';
  src: url('../font/lp/NotoSansJP-Regular.otf') format('opentype');
	font-weight: normal;
}
@font-face {
  font-family: 'NotoSansJP';
	src: url('../font/lp/NotoSansJP-Light.otf') format('opentype');
	font-weight: 300;
}
@font-face {
  font-family: 'NotoSansJP';
	src: url('../font/lp/NotoSansJP-Thin.otf') format('opentype');
	font-weight: 100;
}
@font-face {
  font-family: 'bebas';
	src: url('../font/lp/Bebas-Regular.otf') format('opentype');
}
html{
	color: #000;
	font-size: 16px;
	font-weight: bold;
	font-family: "NotoSansJP", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
	line-height: 1.8;
	text-align: center;
	counter-reset: stepnumber;
}
a{
	color: #000;
	display: block;
}
#wrapper{
	width: 100%;
	height: auto;
	overflow: hidden;
}
section,
.section{
	width: 100%;
	height: auto;
	position: relative;
}
.container{
	width: 90%;
	margin: 0 auto;
}
@media screen and (min-width:1640px) {
	.container{max-width: 1480px;}
}
@media screen and (min-width:1280px) and ( max-width:1539px) {
	html{font-size: 15px;}
	.container{max-width: 1280px;}
}
@media screen and (min-width:768px) and ( max-width:1279px) {
	html{font-size: 14px;}
	.container{max-width: none;}
}
.is_sp{display: none;}
.is_tab{display: none;}
@media screen and (min-width:751px) and ( max-width:1025px) {
	.is_hidden_tab{display: none;}
	.is_tab{display: block;}
} 
:root{
	--pink_d: #ee3970;
	--pink_o: rgba(246,68,127,0.9);
	--pink: #f981a8;
	--pink_l: #ffb7cf;
}
.objectCover {
	width:100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%; 
	font-family: 'object-fit: cover;object-position: 50% 50%;'
}
.objectContain {
	width:100%;
	height: 100%;
	object-fit: contain;
	object-position: 50% 50%; 
	font-family: 'object-fit: contain;object-position: 50% 50%;'
}
.point_reader{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ベース設定 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.mincho{font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;}
.bebas{font-family: 'bebas';}
.sub_ttl{
	font-size: 2rem;
	margin-bottom: 4rem;
	font-style: italic;
}
.sub_ttl span{
	color: var(--pink_d);
	font-size: 2.5rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ナビ ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
header{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	background: rgba(255, 255, 255, 0.7);
	z-index: 55500;
}
.header_in{
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 95%;
	max-width: 1680px;
	margin-left: auto;
}
.header_in h1{
	font-weight: normal;
	font-size: 1rem;
	color: var(--pink_d);
	padding: 0 1rem;
}
.header_in .head_cta{
	display: flex;
	height: 100%;
}
.header_in .head_cta_in{
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	width:100%;
	padding:0 1rem;
}
.header_in .head_cta_in span{
	display: block;
	white-space: nowrap;
}
.header_in .head_cta_in .ico{
	font-size: 1.5rem;
	margin-right: 1rem;
}
.header_in .head_cta_in .sub_txt{
	font-size: 0.8rem;
}
.header_in .tel{
	background: linear-gradient(to right, #a870e8 0%, #f26cc1 100%);
}
.header_in .line{
	background: linear-gradient(to right, #05cad1 0%, #44e724 100%);
}
.header_in .form{
	background: linear-gradient(to right, #a870e8 0%, #f26cc1 100%);
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ナビ ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ フッター ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
footer{
	color: #fff;
}
.footer_in{
	padding:3rem 0;
	background: #828282;
}
.footer_in .box{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: left;
}
.footer_in .box .img{
	width:10rem;
}
.footer_in .box .txt{
	padding-left: 3rem;
}
.footer_in .box .txt p{
	font-size: 1.2rem;
}
.footer_in .box .txt a{
	font-weight: normal;
	color: #fff;
}
.footer_in .box .txt a:hover{
	text-decoration: underline;
}
footer .copy{
	background: #de2126;
	padding:1rem 0;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ フッター ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 下層共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */

/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 下層共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ top01 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top01_in{
	background: url(../../img/lp/top01_03.png) center right /auto 100% no-repeat;
	position: relative;
	z-index: -1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.top01_in::before,
.top01_in::after{
	position: absolute;
	top:0;
	left: 0;
	width: 50%;
	height: 100%;
	content: '';
	z-index: -1;
}
.top01_in::before{ 
	background: var(--pink_l);
	transform: skew(-15deg);
	transform-origin: top left;
}
.top01_in::after{
	background: var(--pink_o);
	transform: skew(15deg);
	transform-origin: bottom right;
}
.top01_in .img{
	margin-right: 5%;
}
.top01 .box{
	font-style: italic;
	font-size: 2rem;
	line-height: 1.2;
}
.top01 .txt02{
	margin:3rem 0;
}
.top01 .txt01 .inner01 .main_txt,
.top01 .txt01 .inner02,
.top01 .txt02 .inner02 .main_txt,
.top01 .txt03 .inner02 .main_txt,
.top01 .box sup{
	color: var(--pink_d);
}
.top01 .txt01 .inner01 .main_txt{
	font-size: 7rem;
}
.top01 .txt02 .inner02,
.top01 .txt03 .inner02{
	letter-spacing: 5px;
}
.top01 .txt02 .inner02 .main_txt,
.top01 .txt03 .inner02 .main_txt{
	font-size: 10rem;
	line-height: 0.8;
}
.top01 .box sup{
	font-size: 1rem;
}
.top01 .att{
	padding:1rem 0;
}
.top01 .att span{
	color: var(--pink_d);
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ top01 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ top02 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top02{
	background: url(../../img/lp/top02_09.png) center / cover no-repeat;
	padding:6rem 0 9rem;
}
.top02 .top02_in{
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-style: italic;
	font-size: 2rem;
	line-height: 0.9;
}
.top02 .box{
	width: 23%;
	position: relative;
	max-width: 18rem;
}
.top02 .box .img{
	margin:0 0 2rem;
}
.top02 .box .inner00{
	position: absolute;
	top:-8rem;
	left: -3rem;
	text-shadow: 3px 3px 3px #fff;
	font-size: 3rem;
}
.top02 .box .inner00 .main_txt{
	color: var(--pink_d);
	font-size: 10rem;
}
.top02 .box .inner01{
	font-size: 1.5rem;
}
.top02 .box .inner02{
		letter-spacing: 5px;
}
.top02 .box .inner02 sup{
	font-size: 0.8rem;
	color: var(--pink_d);
	font-weight: normal;
}
.top02 .box .inner02 .main_txt{
	color: var(--pink_d);
	font-size: 9rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ top02 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ top03 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
 .top03{
	padding:6rem 0;
}
.top03 .att{
	position: absolute;
	background: var(--pink_d);
	bottom:100%;
	right:50%;
	width: 50%;
	padding: 0.5rem 3rem;
	border-radius: 0 2rem 0 0;
}
.top03 .att p{
	color: #fff;
	font-size: 1.5rem;
}
.top03 .ttl{
	position: relative;
}
.top03 .ttl h2::before,
.top03 .ttl h2::after{
	position: absolute;
	content: '';
	background: url(../../img/lp/top03_06.png) center center / contain no-repeat;
	width:1.2rem;
	height: 1.2rem;
}
.top03 .ttl h2::before{
	top:20%;
	left:50%;
	transform: translate(-50%,-50%) translateX(10rem);
}
.top03 .ttl h2::after{
	top:70%;
	left:50%;
	transform: translate(-50%,-50%)translateX(13.5rem);
}
.top03 .ttl img{
	position: absolute;
	width: 8rem;
	bottom:90%;
	left:50%;
	transform: translate(-50%,0)translateX(13.5rem);
}
.top03_in{
	display: flex;
	justify-content: space-between;
}
.top03_in .item_l{
	width: 60%;
	position: relative;
}
.top03_in .box{
	width: 38%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: space-between;
}
.top03_in .box .item{
	width: 48%;
	position: relative;
}
.top03_in .item_l::before,
.top03_in .box .item::before{
	position: absolute;
	top:0;
	left: 0;
	width:0;
	height: 0;
	border:0.75rem solid transparent;
	border-top: 0.75rem solid var(--pink_d);
	border-left: 0.75rem solid var(--pink_d);
	content: '';
}
.top03_in p{
	position: absolute;
	bottom: 1rem;
	left:0%;
	color: #fff;
	background: var(--pink_d);
	padding: 0.5rem 1rem;
	transform: translate(0,50%) rotate(-5deg);
	white-space: nowrap;
	z-index: 10;
}
.top03_in .item_l p{
	font-size: 1.2rem;
	padding: 0.5rem 2rem;
}
.top03_in p.light{
	background: var(--pink);
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ top03 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ top04 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top04{ 
	background: url(../../img/lp/top02_09.png) center / cover no-repeat;
	padding: 6rem 0;
}
.top04 h2{
	background: url(../../img/lp/top04_01.png) center center / 30rem auto no-repeat;
	font-size: 2rem;
	line-height: 1.25;
	padding: 0 0 1rem;
	margin:0 0 3rem;
}
.top04 h2 span{
		transform: rotate(-10deg);
		display: inline-block;
		padding: 0 2rem;
}
.top04_in{
	background: #fff;
	border:0.25rem solid #f64f86;
	padding:2rem 0 0.5rem;
	width: 700px;
	margin: 0 auto;
}
.top04_in h3{
	color: #fff;
	font-size: 2.5rem;
	position: relative;
	z-index: 10;
	margin: 0 0 2rem;
}
.top04_in h3::before,
.top04_in h3::after{
	position: absolute;
	content: '';
}
.top04_in h3::before{
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	background: var(--pink_d);
	width: calc(100% + 3.5rem);
	height: 100%;
	z-index: -1;
}
.top04_in h3::after{
	top:100%;
	left:-1.75rem;
	border:0.75rem solid transparent;
	border-right: 0.75rem solid #202c33;
	border-top: 0.75rem solid #202c33;
	width:0;
	height: 0;
	z-index: -10;
}
.top04_in p{
	font-size: 2rem;
	border-bottom: 3px solid var(--pink_d);
	margin: 0.25rem 2rem 0;
}
.top04_in p span{
	color: var(--pink_d);
	font-size: 2.25rem;
}
.top04_in p.att{
	font-size: 0.8rem;
	border:none;
	font-weight: normal;
	padding:0.25rem 0;
}
 .top04 a{
	 border-radius: 3rem;
	 color: #fff;
	 margin: 3rem auto 0;
	 font-size: 1.5rem;
	 padding: 0.5rem 2rem;
	 width: 30rem;
	 transition: .3s;
	 position: relative;
	 z-index: 50;
 }
 .top04 a::after,
 .top04 a::before{
	 position: absolute;
	 top:50%;
	 left:50%;
	 width: 100%;
	 height: 100%;
	 transform:translate(-50%,-50%);
	 content: '';
	 border-radius: 3rem;
	 z-index: -1;
	 transition: .3s;
	}
	.top04 a::before{
		background: var(--pink_d);
 }
	 .top04 a::after{
	 background: linear-gradient(to right, #a870e8 0%, #f26cc1 100%);
	 }
  .top04 a:hover{
		transform: translate(-0.75rem,-0.75rem);
	}
	.top04 a:hover::before{
		transform:translate(-50%,-50%)translate(0.75rem,0.75rem);
		z-index: -1;
	 }
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ top04 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ top05 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top05{
	padding:6rem 0;
	background: #ffb7cf;
	overflow: hidden;
}
.top05::before,
.top05:after{
	position: absolute;
	top:0;
	left:50%;
	background: var(--pink_d);
	content: '';
	width: 50%;
	height: 100%;
}
.top05::before{transform: skew(15deg);}
.top05:after{transform: skew(-15deg);}
.top05 .container{
	z-index: 10;
	position: relative;
}
.top05 h2{
	font-size: 2rem;
	font-style: italic;
}
.top05 h2 span{
	font-size: 2.2rem;
	color: #fff;
}
.top05 h3{
	font-size: 2rem;
	display: inline-block;
	padding: 0.25rem 4rem;
	margin: 2rem 0 1rem;
	position: relative;
	z-index: 10;
}
.top05 h3 span{
	color: var(--pink_d);
}
.top05 h3::before{
	background: #fff;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%) skew(-20deg);
	content: '';
	width: 100%;
	height: 100%;
	z-index: -1;
}
.top05_in{
	display: flex;
	justify-content: center;
	margin:3rem 0 0;
}
.top05_in .box{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 0 5rem;
}
.top05_in .box p{
	font-size: 2rem;
	margin: 0 0 1rem;
}
.top05_in .box img{
	width: 13rem;
}
.top05 .item{
	display: flex;
	align-items: center;
	justify-content: center;
	margin:1rem 0 0;
}
.top05 .item p{
	font-size: 2rem;
	margin:0 2rem;
	font-style: italic;
	line-height: 1;
}
.top05 .item p .main_txt{
	color: #fff;
	font-size: 10rem;
}
.top05 .item p .sub_txt{
	font-size: 5rem;
}
.top05 .item p sup{
	font-size: 1rem;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ top05 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ top06 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top06{
	padding: 6rem 0;
}
.top06 .ttl{
	position: relative;
}
.top06 .ttl .point{
	position: absolute;
	top:0;
	left:50%;
	transform: translate(-50%,-50%) translateX(-24rem) rotate(-10deg);
	font-size: 3rem;
	line-height: 1;
	background: var(--pink_l);
	width: 10rem;
	height: 10rem;
display: flex;
justify-content: center;
align-items: center;
	border-radius: 50%;
}
.top06 .ttl h2{
	font-size: 2rem;
	margin: 0 0 2rem;
}
.top06 .ttl h2 span{
	font-size: 3rem;
	display: block;
	background: #000;
	color: #fff;
	width: 6rem;
	height: 6rem;
	line-height: 6rem;
	border-radius: 50%;
	margin: 1rem auto 0;
	position: relative;
}
.top06 .ttl h2 span::before{
	position: absolute;
	top:95%;
	left:50%;
	transform: translate(-50%, 0);
	width:0;
	height: 0;
	border:1rem solid transparent;
	border-top: 1rem solid #000;
	content: '';
}
.top06 .ttl h3{
	font-size: 1.8rem;
}
.top06 .ttl .att{
	font-size: 1.8rem;
	display: inline-block;
	padding:0.5rem 2rem;
	font-style: italic;
	color: #fff;
	position: relative;
}
.top06 .ttl .att::before{
	background: var(--pink_d);
	top:0;
	left:0;
	transform:skew(-10deg);
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
}
.top06_in{
	margin: 3rem 0;
}
.top06_in table{
	margin: 0 auto;
}
.top06_in table th,
.top06_in table td{
	border: 2px solid #fff;
	padding:0.5rem 2rem;
}
.top06_in table thead th{
	font-size: 1.5rem;
}
.top06_in table .blue{
	background: #cbeaf8;
}
.top06_in table .blue span{
	color: #0072ff;
}
.top06_in table .pink{
	background: #f6447f;
	color: #fff;
}
.top06_in table .pink span{
	color: #ffea00;
}
.top06_in table tbody th{
	background: #fbc7d8;
	font-size: 1.2rem;
}
.top06_in table tbody td{
	text-align: left;
}
.top06_in p{
	margin:3rem 0 0;
	font-size: 1.5rem;
}
.top06_in p span{
	color: var(--pink_d);
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ top06 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ top07 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top07{
	background: #f6447f;
	color: #fff;
	padding: 0 0 8rem;
}
.top07::before,
.top07::after{
	position: absolute;
	top:100%;
	background: #fff;
	content:'';
	width: 60%;
	height: 20rem;
}
.top07::before{
	right:50%;
	transform: rotate(10deg);
	transform-origin: right top;
}
.top07::after{
	left:50%;
	transform: rotate(-10deg);
	transform-origin: left top;
}
.top07 .ttl{
	padding: 6rem 0 0;
	position: relative;
}
.top07 .ttl::before{
	position: absolute;
	top:2rem;
	left:50%;
	transform: translate(-50%,-50%);
		background: #f6447f;
	content: '';
	width: 18rem;
	height: 10rem;
	border-radius: 50%;
	z-index: -1;
}
.top07 .ttl p{
	position: relative;
	font-size: 1.5rem;
	font-weight: normal;
}
.top07 .ttl p span{
	height: 200px;
	position: absolute;
	width: 20px;
	left: 50%;
	top: -9rem;
	transform-origin: bottom center;
}
.top07 .ttl p span:nth-of-type(1){ transform:translate(-50%,0) rotate(-25deg); }
.top07 .ttl p span:nth-of-type(2){ transform:translate(-50%,0) rotate(-20deg); }
.top07 .ttl p span:nth-of-type(3){ transform:translate(-50%,0) rotate(-15deg); }
.top07 .ttl p span:nth-of-type(4){ transform:translate(-50%,0) rotate(-10deg); }
.top07 .ttl p span:nth-of-type(5){ transform:translate(-50%,0) rotate(-5deg); }
.top07 .ttl p span:nth-of-type(6){ transform:translate(-50%,0) rotate(0); }
.top07 .ttl p span:nth-of-type(7){ transform:translate(-50%,0) rotate(5deg); }
.top07 .ttl p span:nth-of-type(8){ transform:translate(-50%,0) rotate(10deg); }
.top07 .ttl p span:nth-of-type(9){ transform:translate(-50%,0) rotate(15deg); }
.top07 .ttl p span:nth-of-type(10){ transform:translate(-50%,0) rotate(20deg); }
.top07 .ttl p span:nth-of-type(11){ transform:translate(-50%,0) rotate(25deg); }
.top07 .ttl h2{
	font-size: 2rem;
}
.top07_in{
	margin:4rem 0 5rem;
}
.top07_in h3{
	color: #fff;
	font-size: 1.8rem;
	position: relative;
	display: inline-block;
	padding:0.25rem 3rem;
	z-index: 10;
	margin:0 0 2rem;
}
.top07_in h3::before{
	position: absolute;
	background: #000;
	z-index: -1;
	content: '';
	display: block;
	width:100%;
	height: 100%;
	top:0;
	left:0;
	transform: skew(-15deg);
}
.top07_in .flexbox{
	margin: 3rem 0 0;
	display: flex;
	justify-content: center;
}
.top07_in.first .flexbox .item{
	width:20%;
	min-width: 200px;
	margin:0 3%;
}
.top07_in.first .flexbox .item .txt{
	background: #fff;
	padding:2rem 0.5rem;
	border-radius: 0.5rem;
	margin:3rem 0 0;
	position: relative;
}
.top07_in.first .flexbox .item .txt::before{
	position: absolute;
	top:0;
	left:50%;
	transform: translate(-50%,-70%) rotate(-25deg);
	width: 0.25rem;
	height: 3rem;
	background: #000;
	content: '';
}
.top07_in.first .flexbox .item .txt p{
	color: #000;
	font-size: 1.5rem;
}
.top07_in.first .flexbox .item .txt p span{
	color: var(--pink_d);
}
.top07_in.second .flexbox .item{
	width:30%;
}
.top07_in.second .flexbox .item .txt{
	padding: 0 2rem;
	margin:2rem 0 0;
}
.top07_in.second .flexbox .item:nth-of-type(2) .txt{
	border-left:1px solid #fff;
	border-right:1px solid #fff;
}
.top07_in.second .flexbox .item h4{
	font-size: 1.5rem;
}
.top07_in.third .flexbox .item{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.top07_in.third .flexbox .item .img{
	width: 15%;
	padding: 0 3rem;
	min-width: 200px;
}
.top07_in.third .flexbox .item .txt{
	/* width: 40%; */
	display: inline-block;
}
.top07_in.third .flexbox .item .txt h4{
	font-size: 2rem;
	border-bottom: 1px solid #fff;
	margin:0 0 2rem;
}
.top07_in.third .flexbox .item .txt p{
	font-weight: normal;
	font-size: 1.2rem;
	text-align: left;
	margin:1rem 0 0;
	padding: 0 0.5rem;
}
.top07_in.third .flexbox .item .txt span{
	color: #fff600;
}
.top07_in.fourth .img{
	margin: 2rem 0 3rem;
}
.top07_in.fourth .txt h4{
	font-size: 2rem;
	margin:0 0 1rem;
}
.top07_in.fourth .txt p{
	font-weight: normal;
}
.top07_in.fourth .txt span{
	color: #fff600;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ top07 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ top08 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top08{
	padding:5rem 0;
}
.top08 h2{
	font-size: 3rem;
	color: var(--pink_d);
	font-style: italic;
}
.top08 h2 span{
	font-size: 7rem;
}
.top08_in{
	margin: 3rem 0 2rem;
}
.top08_in p{
	font-size: 2.2rem;
	display: inline-block;
	padding: 0 10rem;
	color: #fff;
	position: relative;
	margin:0 0 2rem;
}
.top08_in p::before{
    background: var(--pink_d);
    top: 0;
    left: 0;
    transform: skew(-15deg);
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
.top08_in h3{
	font-size: 2rem;
}
.top08 .box{
	background: #f9f9f9;
	padding: 3rem;
	margin: 2rem auto 0;
	max-width: 1000px;
}
.top08 .box h4{
	font-size: 1.5rem;
	display: inline-block;
	padding: 0 3rem;
	color: #fff;
	position: relative;
	z-index: 10;
	margin:0 0 2rem;
}
.top08 .box h4::before{
	  background: var(--pink_d);
    top: 0;
    left: 0;
    transform: skew(-10deg);
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
.top08 .box .item{ 
	display: flex;
	justify-content: space-between;
	background: #fff;
	padding: 2rem;
	box-shadow: 0 0 10px #ccc;
	border-radius: 0.5rem;
	position: relative;
}
.top08 .box .item + .item{
	margin: 5rem 0 0;
}
.top08 .box .item .img{
	width:25%;
}
.top08 .box .item .txt{
	width: 70%;
	text-align: left;
}
.top08 .box .item .txt p{
	font-size: 1.2rem;
}
.top08 .box .item .txt p span{
	font-size: 0.8rem;
	font-weight: normal;
}
.top08 .box .item .item_ttl{
	position: absolute;
	bottom:100%;
	left:2rem;
	background: #000;
	color: #fff;
	padding:0.5rem 2rem;
	border-radius: 0.5rem 0.5rem 0 0;
	font-size: 1.2rem;
}
.top08 .box .item.second .img img{
	max-width: 150px;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ top08 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ top09 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top09{
	padding:5rem 0;
	background: var(--pink_d);
}
.top09 h2{
	color: #fff;
	font-size: 2rem;
	position: relative;
	padding:0 0 1rem;
	margin:0 0 3rem;
	font-style: italic;
}
.top09 h2::before{
	bottom:0;
	left:50%;
	content: '';
	position: absolute;
	transform: translateX(-50%);
	background: #fff;
	width:3rem;
	height: 5px;
}
.top09_in{
	background: #fff;
	padding:0 3rem 3rem;
}
.top09_in .ttl{
	padding:5rem 0 0;
}
.top09_in h3{
	font-style: italic;
	font-size: 2.5rem;
	display: inline-block;
	position: relative;
	line-height: 1;
}
.top09_in h3 .main_txt{
	font-size: 5rem;
	color: var(--pink_d);
}
.top09_in h3 .sub_txt{
	position: absolute;
	left:100%;
	bottom:0;
	white-space: nowrap;
}
.top09_in.first h3 .sub_txt{
right:100%;
left:auto;
	bottom:50%;
	transform: translateY(50%);
	font-size: 2rem;
}
.top09_in.first h3 .main_txt{
	font-size: 6rem;
}
.top09_in .ttl p{
	position: relative;
	font-size: 1.5rem;
}
.top09_in .ttl p span{
	height: 250px;
	position: absolute;
	width: 20px;
	left: 50%;
	top: -3rem;
	transform-origin: bottom center;
}
.top09_in.first .ttl p span:nth-of-type(1){ transform:translate(-50%,0) rotate(-22.5deg); }
.top09_in.first .ttl p span:nth-of-type(2){ transform:translate(-50%,0) rotate(-17.5deg); }
.top09_in.first .ttl p span:nth-of-type(3){ transform:translate(-50%,0) rotate(-12.5deg); }
.top09_in.first .ttl p span:nth-of-type(4){ transform:translate(-50%,0) rotate(-7.5deg); }
.top09_in.first .ttl p span:nth-of-type(5){ transform:translate(-50%,0) rotate(-2.5deg); }
.top09_in.first .ttl p span:nth-of-type(6){ transform:translate(-50%,0) rotate(2.5deg); }
.top09_in.first .ttl p span:nth-of-type(7){ transform:translate(-50%,0) rotate(7.5deg); }
.top09_in.first .ttl p span:nth-of-type(8){ transform:translate(-50%,0) rotate(12.5deg); }
.top09_in.first .ttl p span:nth-of-type(9){ transform:translate(-50%,0) rotate(17.5deg); }
.top09_in.first .ttl p span:nth-of-type(10){ transform:translate(-50%,0) rotate(22.5deg); }

.top09_in.second .ttl p span:nth-of-type(1){ transform:translate(-50%,0) rotate(-20deg); }
.top09_in.second .ttl p span:nth-of-type(2){ transform:translate(-50%,0) rotate(-15deg); }
.top09_in.second .ttl p span:nth-of-type(3){ transform:translate(-50%,0) rotate(-10deg); }
.top09_in.second .ttl p span:nth-of-type(4){ transform:translate(-50%,0) rotate(-5deg); }
.top09_in.second .ttl p span:nth-of-type(5){ transform:translate(-50%,0) rotate(0); }
.top09_in.second .ttl p span:nth-of-type(6){ transform:translate(-50%,0) rotate(5deg); }
.top09_in.second .ttl p span:nth-of-type(7){ transform:translate(-50%,0) rotate(10deg); }
.top09_in.second .ttl p span:nth-of-type(8){ transform:translate(-50%,0) rotate(15deg); }
.top09_in.second .ttl p span:nth-of-type(9){ transform:translate(-50%,0) rotate(20deg); }

.top09_in.third .ttl p span:nth-of-type(1){ transform:translate(-50%,0) rotate(-15deg); }
.top09_in.third .ttl p span:nth-of-type(2){ transform:translate(-50%,0) rotate(-10deg); }
.top09_in.third .ttl p span:nth-of-type(3){ transform:translate(-50%,0) rotate(-5deg); }
.top09_in.third .ttl p span:nth-of-type(4){ transform:translate(-50%,0) rotate(0); }
.top09_in.third .ttl p span:nth-of-type(5){ transform:translate(-50%,0) rotate(5deg); }
.top09_in.third .ttl p span:nth-of-type(6){ transform:translate(-50%,0) rotate(10deg); }
.top09_in.third .ttl p span:nth-of-type(7){ transform:translate(-50%,0) rotate(15deg); }

.top09_in .box{
	display: flex;
	justify-content: center;
	margin: 2rem 0 0;
}
.top09_in .box .img{
	width:30%;
	min-width: 230px;
}
.top09_in .box .txt{
	width: 50%;
	min-width: 400px;
	text-align: left;
	margin-left: 5%;
}
.top09_in .box .txt p{
	font-size: 1.2rem;
	line-height: 2.2;
}
.top09_in .box .txt p span{
	background: #f9f900;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ top09 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ top10 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top10{
	padding:5rem 0;
}
.top10 h2{
	font-size: 2.2rem;
    display: inline-block;
    padding: 0 5rem;
    color: #fff;
    position: relative;
    margin: 0 0 2rem;
}
.top10 h2::before{
	background: var(--pink_d);
    top: 0;
    left: 0;
    transform: skew(-15deg);
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
.top10 h3{
	font-size: 1.8rem;
	font-style: italic;
	margin:0 0 2rem;
}
.top10_in{
	width: 600px;
	margin: 0 auto;
	padding-left: 5rem;
}
.top10_in .box{
	padding: 1rem;
	text-align: left;
	border-bottom: 1px solid #000;
	position: relative;
}
.top10_in .box:first-of-type{
	border-top: 1px solid #000;
}
.top10_in .box::before{
	position: absolute;
	top:0.5rem;
	left:-4rem;
	width: 3rem;
	height: 3rem;
	line-height: 3rem;
	color: #fff;
	background: var(--pink_d);
	counter-increment: stepnumber;
	content: counter(stepnumber);
	display: block;
	font-size: 1.3rem;
	text-align: center;
	border-radius: 50%;
}
.top10_in .box::after{
	position: absolute;
	top:3rem;
	left:-2.5rem;
	width: 10px;
	height: 80%;
	border-left: 3px dotted #000;
	content: '';
	display: block;
	z-index: -1;
}
.top10_in .box:nth-of-type(7)::after{
	content:'▼';
	top:-0.8rem;
	left:-2.9rem;
	border-left: none;
}
.top10_in .box p span{
	background: #f9f900;
}
.top10_in img{
	width: 15rem;
	margin:2rem 0;
}
.top10_in .point{
	font-size: 2rem;
	margin: 0 -25rem
}
.top10_in .point span{
	color: var(--pink_d);
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ top10 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ top11 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top11{
	padding:5rem 0;
	background: var(--pink_d);
}
.top11 h2{
	color: #fff;
	font-size: 2rem;
	position: relative;
	padding:0 0 1rem;
	margin:0 0 3rem;
	font-style: italic;
}
.top11 h2::before{
	bottom:0;
	left:50%;
	content: '';
	position: absolute;
	transform: translateX(-50%);
	background: #fff;
	width:3rem;
	height: 5px;
}
.top11 h3{
	font-size: 1.8rem;
color: #fff;
}
.top11_in{
	background: #fff;
	margin:2rem 0 0;
}
.top11_in .ttl{
	display: flex;
	align-items: center;
}
.top11_in .ttl h4{
	background: #000;
	color: #fff;
	font-style: italic;
	padding:1rem;
	font-size: 2rem;
	width: 35%;
	text-align: center;
}
.top11_in .ttl h4 span{
	color: var(--pink_d);
}
.top11_in .ttl p{
	font-size: 1.5rem;
	width: 65%;
	padding: 0 2rem;
	text-align: left;
}
.top11_in .box{
	padding: 2rem 1rem 3rem;
}
.top11_in .item01{
	border-bottom:1px solid #000;
	margin:0 2rem;
	padding-bottom: 0rem;
}
.top11_in .item01 .inner{
	display: flex;
	justify-content:space-between;
	align-items: center;
	z-index: 10;
	position: relative;
}
.top11_in .item01 .inner p{
	 font-size: 2rem;
	 position: relative;
	 text-align: left;
	 width: 45%;
}
.top11_in .item01 .inner p:first-of-type{
	text-align: right;
}
.top11_in .item01 .inner p strong{
	font-size: 3.5rem;
}
.top11_in .item01 .inner span{
	width: 4rem;
	height: 11px;
	background: #000;
	position: relative;
	border:3px solid #fff;
}
.top11_in .item01 .inner span::before{
	position: absolute;
	top:50%;
	left:50%;
	content: '';
	transform: translate(-50%,-50%);
	background: var(--pink_d);
	width: 5px;
	height: 3rem;
	z-index: -10;
}
.top11_in .item01 .point{
	color: var(--pink_d);
	font-style: italic;
	font-size: 4rem;
}
.top11_in .item02{
	padding:2rem 0;
}
.top11_in .item02 h5{
	font-size: 2rem;
	margin:0 0 2rem;
}
.top11_in .item02 p{
	color: var(--pink_d);
	font-size: 1.5rem;
	display: inline-block;
	width: 60%;
	position: relative;
	z-index: 10;
	margin:1rem 0 0;
}
.top11_in .item02 p::before{
	background: #f0f0f0;
    top: 0;
    left: 0;
    transform: skew(-15deg);
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
 .top11_in a{
	 border-radius: 3rem;
	 color: #fff;
	 margin: 3rem auto 0;
	 font-size: 1.5rem;
	 padding: 0.5rem 2rem;
	 width: 30rem;
	 transition: .3s;
	 position: relative;
	 z-index: 50;
 }
 .top11_in a::after,
 .top11_in a::before{
	 position: absolute;
	 top:50%;
	 left:50%;
	 width: 100%;
	 height: 100%;
	 transform:translate(-50%,-50%);
	 content: '';
	 border-radius: 3rem;
	 z-index: -1;
	 transition: .3s;
	}
	.top11_in a::before{
		background: var(--pink_d);
 }
	 .top11_in a::after{
	 background: linear-gradient(to right, #a870e8 0%, #f26cc1 100%);
	 }
  .top11_in a:hover{
		transform: translate(-0.75rem,-0.75rem);
	}
	.top11_in a:hover::before{
		transform:translate(-50%,-50%)translate(0.75rem,0.75rem);
		z-index: -1;
	 }
.top11_in .item03{
	border: 1px solid #000;
	padding: 1rem 2rem;
	max-width: 780px;
	margin: 1rem auto 0;
}
.top11_in .item03 h5{
	font-size: 1.2rem;
	border-bottom: 1px solid #000;
	padding:0 0 1rem;
}
.top11_in .item03 ul{
	margin-top: 1rem;
	margin-left: 2rem;
}
.top11_in .item03 ul li{
	list-style: disc;
	text-align: left;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ top11 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ top12 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top12{
	padding:5rem 0;
}
.top12 h2{
	font-size: 2.2rem;
	display: inline-block;
	padding: 0 5rem;
	color: #fff;
	position: relative;
	margin: 0 0 2rem;
}
.top12 h2::before{
	background: var(--pink_d);
	top: 0;
	left: 0;
	transform: skew(-15deg);
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
}
.top12 h3{
	font-size: 1.8rem;
	font-style: italic;
	margin:0 0 2rem;
}
.top12_in{
	border-bottom: 1px solid #000;
	max-width: 800px;
	margin: 0 auto;
	text-align: left;
}
.top12_in dl{
	border-top: 1px solid #000;
	padding:1rem 0;
}
.top12_in dl dt{
	padding: 0 4rem;
	position: relative;
	font-size: 1.2rem;
	cursor: pointer;
}
.top12_in dl dt span{
	position: absolute;
	top:50%;
	right:0;
	transform: translateY(-50%);
	width:2.5rem;
	height: 2.5rem;
	line-height: 2.5rem;
	text-align: center;
	background: #000;
	color: #fff;
}
.top12_in dl dt span svg{
	transition: .3s;
}
.top12_in dl dt.active span svg{
	transform: rotate(180deg);
}
.top12_in dl dt::before{
	position: absolute;
	top:50%;
	left:0;
	transform: translateY(-50%);
	width:2.5rem;
	height: 2.5rem;
	line-height: 2.5rem;
	content: 'Q';
	text-align: center;
	background: var(--pink_d);
	color: #fff;
	border-radius: 50%;
}
.top12_in dl dd{
	display: none;
	position: relative;
	padding: 1.5rem 4rem 0;
}
.top12_in dl dd::before{
	position: absolute;
	top:1.5rem;
	left:0;
	width:2.5rem;
	height: 2.5rem;
	line-height: 2.5rem;
	content: 'A';
	text-align: center;
	background: #000;
	color: #fff;
	border-radius: 50%;
}
.top12 .box{
	margin:3rem 0 0;
}
.top12 .box img{
	width: 15rem;
}
.top12 .box .point{
	font-size: 2rem;
	margin:2rem 0 1rem;
}
.top12 .box .att{
	font-weight: normal;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ top12 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ top13 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top13{
	padding:5rem 0;
	background: var(--pink_d);
}
.top13 h2{
	color: #fff;
	font-size: 2rem;
	position: relative;
	padding:0 0 1rem;
	margin:0 0 3rem;
	font-style: italic;
}
.top13 h2::before{
	bottom:0;
	left:50%;
	content: '';
	position: absolute;
	transform: translateX(-50%);
	background: #fff;
	width:3rem;
	height: 5px;
}
.top013_in{
	display: flex;
	justify-content: space-between;
}
.top013_in .item{
	background: #fff;
	width:48%;
	padding: 2rem;
}
.top013_in .item h3{
	font-size: 1.5rem;
	margin:0 0 1rem;
	font-style: italic;
}
.top013_in .item p{
	font-weight: normal;
}
.top013_in .item a,
.top013_in .item .tel{
	color: #fff;
	border-radius: 3rem;
	max-width: 30rem;
	transition: .3s;
	margin:1.5rem auto 0;
	font-size: 1.5rem;
	padding: 0.5rem 2rem;
	position: relative;
	z-index: 10;
}
.top013_in .item .tel{
	background: linear-gradient(to right, #a870e8 0%, #f26cc1 100%);
	position: relative;
}
.top013_in .item .tel svg{
	position: absolute;
	font-size: 2.5rem;
	top:50%;
	left:5rem;
	transform: translate(0,-50%);
}
.top013_in .item a::after,
.top013_in .item a::before{
	position: absolute;
	top:50%;
	left:50%;
	width: 100%;
	height: 100%;
	transform:translate(-50%,-50%);
	content: '';
	border-radius: 3rem;
	z-index: -1;
	transition: .3s;
}
.top013_in .item a::before{
	background: #79ff6c;
}
.top013_in .item a::after{
	background: linear-gradient(to right, #05cad1 0%, #44e724 100%);
}
.top013_in .item a:hover{
	transform: translate(-0.75rem,-0.75rem);
}
.top013_in .item a:hover::before{
	transform:translate(-50%,-50%)translate(0.75rem,0.75rem);
	z-index: -1;
}
.top13_form{
	padding: 2rem;
	background: #fff;
	margin:3rem 0 0;
}
.top13_form h3{
	font-size: 1.5rem;
	margin:0 0 1rem;
	font-style: italic;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ top13 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ top14 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
.top14{
	padding:5rem 0;
}
.top14 h2{
	font-size: 2.2rem;
	display: inline-block;
	padding: 0 5rem;
	color: #fff;
	position: relative;
	margin: 0 0 2rem;
}
.top14 h2::before{
	background: var(--pink_d);
	top: 0;
	left: 0;
	transform: skew(-15deg);
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
}
.top14 .img img{
	width:10rem;
}
.top14 h3{
	margin:2rem 0;
	font-size: 2rem;
}
.top14 .inner{
	display: flex;
	justify-content: center;
	text-align: left;
	margin:1rem 0;
}
.top14 .inner p:first-of-type{
	width: 8rem;
}
.top14 .inner p:last-of-type{
	width: 20rem;
}
.top14 .map iframe{
	width:100%;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ top14 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ 下層共通 ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ */
 
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ 下層共通 ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */





